@model Cadastro_Alunos_e_Materias.Models.Aluno

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar</h2>

<h3>Deseja realmente remover este aluno?</h3>
<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="dl-horizontal">

        @if (Model.Foto != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Foto)
            </dt>
            <dd>
                @{
                    var base64 = Convert.ToBase64String(Model.Foto);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                }
                <img src='@imgSrc' style="max-width:100px; max-height:100px;" />
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
